<div class="container">
  <div class="p-5 mb-4 text-white bg-dark rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome Human!</h1>
      <p class="col-md-8 fs-5">Check out the finest cat-videos selection in our rating section. You can find the kitties with the highest score on the top-rated page below.</p>
      <div>
        <a routerLink="/cats/rate" class="btn btn-primary btn-lg" type="button">Start rating</a>
        <a routerLink="/cats/top-rated" class="btn btn-link btn-lg ms-2" type="button">Top rated</a>
      </div>

    </div>
  </div>
</div>
